@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@400;500;600&display=swap');


  * {
    margin: 0;
    padding: 0;
  }

  body {
    /* background-color: var(--blue); */
    background-color: black;
font-family: 'Pridi', serif;
  }



  /* singlemovie page  */

  #singlemovie {
    background-color: black;
  }

  #moviebox .card {
    background-color: #1B2430;
  }

  #moviebox .starrate {
    margin-top: 50px;
  }

  /* singlemovie page ends here */

  /* moviecards  */

  #moviecards .card-body {
    margin-top: 15px;
    background-color: #3C4048 !important;
    padding: 5px !important;
  }

  #moviecards .card-body a {
    text-decoration: none;
  }
  #moviecards .card-body .movietitlelink:hover{
    color: #BBBFCA !important; 
  }
  #moviecards .card {
    text-decoration: none;
    border: none !important;
    background-color: black !important;
  }

  #moviecards .zoom {
    border-image: linear-gradient(#d7d94b, #e61a08, #d7d94b) 30;
    border-width: 4px;
    border-style: solid;
  }

  #moviecards .zoom:hover {
    transform: scale(1.05);
  }

  #moviebox .zoom{
    border-image: linear-gradient(#d7d94b, #e61a08, #d7d94b) 30;
    border-width: 4px;
    border-style: solid;
  }
  /* moviecards ends here */
  /* footer */



  /* footer ends here */

  /* media */

  @media only screen and (min-width: 280px) and (max-width: 768px) {
    #moviecards .card {
      text-decoration: none;
      border: none !important;
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
    }
    #moviecards .zoom {
      border-image: linear-gradient(#d7d94b, red, #d7d94b);
      border-width: 4px;
      border-style: solid;
    }
    #moviecards .card-body {
      margin-top: 7px;
      background-color: #3C4048 !important;
      font-size: 8px;
      padding: 2px !important;
    }
  }