  @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');


  * {
    margin: 0;
    padding: 0;
  }

  body {
    /* background-color: var(--blue); */
    background-color: black;
    font-family: 'Mukta', sans-serif;
    font-family: 'Roboto', sans-serif;
  }



  /* singlemovie page  */

  #singlemovie {
    background-color: black;
  }

  #moviebox .card {
    background-color: #1B2430;
  }

  #moviebox .starrate {
    margin-top: 50px;
  }

  /* singlemovie page ends here */

  /* moviecards  */

  #moviecards .card-body {
    background-color: black !important;
    padding: 0 !important;
    
  }

  #moviecards .card-body a {
    text-decoration: none;
  }

  #moviecards .card {
    text-decoration: none;
    border: none !important;
  }

  #moviecards .card p {
    color: #A6A9B6;
  }
  #moviecards .card p:hover{
    color: #5C7AEA;
  }

  /* moviecards ends here */


  /* media */

  @media only screen and (min-width: 280px) and (max-width: 768px) {
  #moviecards .card {
    text-decoration: none;
    border: none !important;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
  }
  }